* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    }

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}

h3{
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

body{
}

header{
    display: flex;
    justify-content: center;
}

.header{
    background-color: white;
    z-index: 10;
    height: 64px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 1rem;
    width: 100%;
    max-width: 1050px;
}

.site-logo{
    display: inline-flex;
    align-items: center;
    font-size: 1.5rem;
}

.site-logo img{
    height: 3rem;
    width: auto;
}

#colmar{
    font-weight: bolder;
}

#academy{
    font-weight: regular;
    color: rgb(133, 133, 133);
}

nav{
}

header nav li{
    display: inline;
    margin: 0 8px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

main{
    padding-top: 64px;
}

.top-banner{
    display: flex;
    justify-content: center;
    background-color: rgb(218, 218, 218);
}

.top-banner-container{
    display: flex;
    padding: 32px 24px;
    align-items: center;
    max-width: 1050px;
}

.learn-something-container{
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 36px;
}

.primary-image-container{
    display: flex;
    width: 60%;
}

.primary-image{
    width: 100%;
}

.cta{
    
}

.button .cta{
    background-color: gray;
    padding: 1rem;
}